// color
$white: #ffffff;
$light_gray: #f4f5f5;
$middle_gray: #eaeaec;
$gray: #a4a4a4;
$dark: #1c1c1c;
$red: #fe3538;
$yellow: #fecd4d;
$green: #00ba00;
$point: #4910d2;

// font-size
$login_logo_B: 48px;
$homeLogo_B: 28px;
$textXXL_B: 26px;
$textXL_B: 20px;
$textL_B: 18px;
$textML: 17px;
$textM_B: 16px;
$textM: 16px;
$textMS_B: 14px;
$textMS_M: 14px;
$textMS: 14px;
$textS_B: 12px;
$textS: 12px;
$MBTI_S: 11px;
$textXS: 10px;
$score_S: 9px;

// font-size
$font_Bold: 700;
$font_Medium: 500;
$font_Regular: 400;