// color
$white: #ffffff;
$light_gray: #f4f5f5;
$middle_gray: #eaeaec;
$gray: #a4a4a4;
$dark: #1c1c1c;
$red: #fe3538;
$yellow: #fecd4d;
$green: #00ba00;
$point: #4910d2;

// font-size
$login_logo_size: 48px;
$home_logo_size: 28px;
$textXXL_size: 26px;
$textXL_size: 20px;
$textL_size: 18px;
$textML_size: 17px;
$textM_size: 16px;
$textMS_size: 14px;
$textS_size: 12px;
$MBTI_score_size: 11px;
$textXS_size: 10px;
$textXXS_size: 9px;

// font-weight
$textB_weight: 700;
$textM_weight: 500;
$textS_weight: 400;
