// color
$white: #ffffff;
$light_grey: #f4f5f5;
$middle_grey: #eaeaec;
$grey: #a4a4a4;
$dark: #1c1c1c;
$red: #fe3538;
$yellow: #fecd4d;
$green: #00ba00;
$point: #4910d2;

// font-size
$login_logo_B: 48pt;
